body {
	background-color: lightgrey;
}

.container {
	margin-top : 10px;
	padding : 15px;
	padding-top : 30px;
	box-shadow: 3px 3px 3px #aaa; 
	background: url(../img/bg.png) repeat center center;
}

.title {
	font-size: 25px;
	font-weight: 10px;
	line-height: 20pt;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.bloc_date {
	background: url(../img/bg_date.png) no-repeat;
}

.form_email {
	padding-top: 20px;
	margin-left: 30px;
}

.text1 {
	font-size: 20px;
	font-weight: 10px;
	line-height: 20pt;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.text2 {
	font-size: 25px;
	font-weight: 10px;
	line-height: 20pt;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.date_lieu_event {
	padding-top : 8px;
	padding-left: 10px;
	color: white;
	font-size: 30px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	line-height: 25pt;
	font-weight: 200; 
}

.textfooter {
	font-size: 21px;
	font-family: Tahoma, sans-serif;
	font-weight: 10px;
	line-height: 22pt;
}

.footer{
	height:40px;
	margin-top:20px;
	margin-bottom: 20px
}

input[type=email] { 
	width: 200px; 
	height : 25px;
	font-size: 16px;
	border : 1px solid;
	color : black;
	padding: 5px;

} 